{% extends 'base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
buttons%}
<a
  href="{{ url_for('account.login' )}}"
  class="btn btn-outline-primary custom-btn-yellow-outline d-flex"
  type="button"
  ><i class="backicon fa fa-arrow-left"></i
></a>

<a
  href="{{ url_for('account.logout' )}}"
  class="btn btn-outline-primary logout-btn-yellow d-flex"
  type="button"
  >Logout</a
>

{% endblock %} {% block content %}

<div class="container">
  <h2>Basic Date Time Picker</h2>
    <div class='input-group date' id='picker'>
      <input type='text' class="form-control" />
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>	                
     </span>
    </div>
</div>

  <div class="container mt-5">
      <form method="post" class="form-inline">
          {{ form.hidden_tag() }}
          <div class="form-group mb-2">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Start Date</span>
                  </div>
                  {{ form.startdate(class="picker form-control", placeholder="YYYY-MM-DD") }}
              </div>
          </div>
          <div class="form-group mx-sm-3 mb-2">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">End Date</span>
                  </div>
                  {{ form.enddate(class="picker form-control ", placeholder="YYYY-MM-DD") }}
              </div>
          </div>
          {{ form.submit(class="btn btn-primary submit-yellow mb-2") }}
      </form>
  </div>


  <div class="container mt-5">
    <h1 class="baumans-header">Timelog:</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="baumans-table-header">
          <tr>
            <th>Creation Date</th>
            <th>Order Name</th>
            <th>Status</th>
            <th>Additional Info</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in timelog %}
          <tr>
            <td>{{ entry['creation_date'] }}</td>
            <td>{{ entry['order_name'] }}</td>
            <td class="text-center">{{ entry['status'] }}</td>
            <td>
              {% if entry['additional_info'] is not none %} {{
              entry['additional_info'] }} {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $(function () {
      $('#picker').datetimepicker();
    });
  </script>
  {% endblock %}
</div>
