{% extends 'base.html' %} {% block buttons%}
<a
  href="{{ url_for('account.logout' )}}"
  class="btn btn-outline-primary custom-btn-yellow-outline d-flex"
  style="margin-left: auto; margin-right: 20px; font-size: 20px"
  type="button"
  >Logout</a
>
{% endblock %} {% block content %}

<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 80vh"
>
  <div class="row justify-content-center">
    <div
      class="col-8"
      style="
        border-radius: 20px;
        width: 800px;
        background-color: white;
        padding: 50px;
        text-align: right;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      "
    >
      <div class="mb-3"></div>
      <h1 class="text-center mb-4" , style="font-family: 'Baumans', serif">
        Analyse Order
      </h1>
      <form
        action="{{ url_for('analyse.upload') }}"
        method="post"
        enctype="multipart/form-data"
        onsubmit="showLoader()"
      >
        <div class="form-group mb-4">
          <label for="formFile" class="form-label"
            >Select or drag image to analyse.</label
          >
          <input
            class="form-control form-control-lg"
            type="file"
            name="photo"
            accept="image/*"
            id="photoInput"
            required
          />
        </div>
        <div id="loader-overlay" style="display: none">
          <div id="loader">
            <img
              src="{{ url_for('static', filename='loading.gif') }}"
              alt="Loading..."
            />
            <h1 class="text-center mb-4">Processing...</h1>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg w-100">
          Analyse
        </button>
      </form>
    </div>
  </div>
</div>
<script>
  function showLoader() {
    document.getElementById("loader-overlay").style.display = "flex";
  }
</script>

{% endblock %}
