{% extends 'base.html' %} {% block buttons%}
<a
  href="{{ url_for('analyse.upload' )}}"
  class="btn btn-outline-primary custom-btn-yellow-outline d-flex"
  type="button"
  ><i class="backicon fa fa-arrow-left"></i
></a>

<a
  href="{{ url_for('account.logout' )}}"
  class="btn btn-outline-primary logout-btn-yellow d-flex"
  type="button"
  >Logout</a
>
{% endblock %} {% block content %}
<div class="container mt-4 d-flex align-items-center justify-content-center">
  <div class="row justify-content-center">
    {% if order_name %} {% if analysis_report %}
    <div class="col-md-6 text-center" style="overflow-y: auto">
      <h2 class="baumans-header">Order {{ order_name }} analysis report:</h2>

      <ul class="list-group d-block">
        {% for item, status in analysis_report.items() %}
        <div
          class="list-group-item {% if status == 'Ok.' %} list-group-item-success {% else %} list-group-item-danger {% endif %}"
        >
          {% if status == 'Ok.' %}
          <i class="fas fa-check-circle text-success"></i>
          {% else %}
          <i class="fas fa-times-circle text-danger"></i>
          {% endif %} {{ item }} - {{status}}
        </div>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <div
      class="col-md-6 text-center d-flex justify-content-center align-items-center"
      style="overflow-y: auto"
    >
      <div>
        <h2 class="baumans-header">Order {{ order_name }} analysis report:</h2>
        <h3 class="baumans-header">No order elements to display.</h3>
      </div>
    </div>
    {% endif %} {% else %}
    <div
      class="col-md-6 text-center d-flex justify-content-center align-items-center"
      style="overflow-y: auto"
    >
      <div>
        <h2 class="baumans-header">Order unrecognized.</h2>
        <h3 class="baumans-header">No order elements to display.</h3>
      </div>
    </div>
    {% endif %}

    <div class="col-md-6">
      {% if uploaded_photo %}
      <a href="#" onclick="toggleFullScreen('uploadedImage')">
        <img
          id="uploadedImage"
          src="data:image/jpeg;base64,{{ uploaded_photo }}"
          alt="Uploaded Photo"
          style="
            max-width: 100%;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          "
          class="img-fluid"
        />
      </a>
      {% else %}
      <p>No photo uploaded</p>
      {% endif %}
    </div>

    <div class="col-md-6 mt-4 text-center">
      <h2
        class="border p-3 {% if analysis_status == 'ok' %} order-status-ok {% else %} order-status-nok {% endif %}"
      >
        Order Status: {{ analysis_status }}
      </h2>
    </div>

    <div class="col-md-6 mt-4 text-center">
      <div class="btn-group d-flex" role="group">
        <a
          href="{{ url_for('account.login')}}"
          class="btn btn-primary custom-btn-yellow d-flex btn-lg mx-1 w-100"
          type="button"
          >Home</a
        >
        <a
          href="{{ url_for('analyse.upload')}}"
          class="btn btn-primary custom-btn-yellow d-flex btn-lg mx-1 w-100"
          type="button"
          >Next Analysis</a
        >
      </div>
    </div>
  </div>
</div>
<script>
  function toggleFullScreen(imageId) {
    var image = document.getElementById(imageId);
    image.classList.toggle("full-screen-image");
  }
</script>
{% endblock %}
