.list-group-item {
    font-size: 24px;
    border: 2px solid #ccc; 
    margin-bottom: 8px;
  }

 
  .list-group-item.list-group-item-success {
    background-color: #d4edda; 
    border-color: #c3e6cb;
  }


  .list-group-item.list-group-item-danger {
    background-color: #f8d7da; 
    border-color: #f5c6cb;
  }

  .table-row-status-ok {
    background-color: #28a745; 
    border-color: #28a745;

  }

  .table-row-status-nok {
    background-color: #f8d7da; 
    border-color: #f5c6cb; 
  }

  .order-status-ok {
    background-color: #28a745; 
    border: 2px solid #28a745;
    color: white; 
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .order-status-nok {
    background: #dc3545; 
    border: 2px solid #dc3545;
    color: white; 
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  table.table-bordered{
    border:1px solid #9b9b9b;
    margin-top:20px;
  }

  table.table-bordered > thead > tr > th{
      border:1px solid #9b9b9b;
  }

  table.table-bordered > tbody > tr > td{
      border:1px solid #9b9b9b;
  }