.navbar-brand {
  font-family: "Baumans", serif;
  font-size: 36px;
  padding: 20px;
}

.btn.custom-btn-yellow {
    background-color: #ffdc00; /* Replace with your desired shade of yellow */
    color: #ffffff; /* Text color, you can adjust as needed */

  }

.btn.custom-btn-yellow-outline {
    border: 2px solid #ffdc00;
    color: #ffdc00;
    transition: background-color 0.3s;
  }

.btn.custom-btn-yellow-outline:hover {
    background-color: #ffdc00;
    border: 2px solid #ffdc00;
    color: #111111;
    
  }

.btn.custom-btn-mainmenu {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: background-color 0.4s, box-shadow 0.4s;
  }

.btn.custom-btn-mainmenu:hover, .btn.custom-btn-mainmenu:active, .btn.custom-btn-mainmenu:active:focus {
    background-color: #111111;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 18px 50px 0  rgba(0,0,0,0.19);
  }


/* Custom styling for custom-file-label */
.custom-file-label::after {
  content: "Browse"; /* Text to display on the button */
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #66afe9; /* Highlight color when the input is focused */
}

.custom-file-label::after {
  background-color: #f8f9fa; /* Background color for the button */
  color: #495057; /* Text color for the button */
  border: 1px solid #ced4da; /* Border color for the button */
}

.custom-file-input:disabled ~ .custom-file-label::after {
  background-color: #e9ecef; /* Background color when the input is disabled */
}


#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
    font-size: 84px;
    margin-bottom: 24px;
  }