.navbar-brand {
  font-family: "Baumans", serif;
  font-size: 36px;
  padding: 20px;
}

.btn.custom-btn-yellow {
    width: 300px;
    height: 100%;
    border: none;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 36px;
    
    overflow: hidden;
    text-overflow: ellipsis;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: background-color 0.4s, box-shadow 0.4s;
  }

  .btn.custom-btn-yellow:hover, .btn.custom-btn-yellow:active, .btn.custom-btn-yellow:active:focus {
    background-color: #111111;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 18px 50px 0  rgba(0,0,0,0.19);
  }

.btn.custom-btn-yellow-outline {
    border: 2px solid #ffdc00;
    color: #ffdc00;
    transition: background-color 0.3s;
  }

.btn.custom-btn-yellow-outline:hover, .btn.custom-btn-yellow-outline:active, .btn.custom-btn-yellow-outline:active:focus {
    background-color: #ffdc00;
    border: 2px solid #ffdc00;
    color: #111111;
    
  }

  .btn.logout-btn-yellow {
    border: 2px solid #ffdc00;
    color: #ffdc00;
    font-family: "Baumans", serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto; 
    margin-right: 20px;
    transition: background-color 0.3s;
  }

.btn.logout-btn-yellow:hover, .btn.logout-btn-yellow:active, .btn.logout-btn-yellow:active:focus  {
    background-color: #ffdc00;
    border: 2px solid #ffdc00;
    color: #111111;
    
  }

  .btn.back-btn-yellow {
    border: 2px solid #ffdc00;
    color: #ffdc00;
    font-family: "Baumans", serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto; 
    margin-right: 20px;
    transition: background-color 0.3s;
  }

  .btn.back-btn-yellow:hover, .btn.back-btn-yellow:active, .btn.back-btn-yellow:active:focus  {
    background-color: #ffdc00;
    border: 2px solid #ffdc00;
    color: #111111;
    
  }

.btn.custom-btn-mainmenu {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: background-color 0.4s, box-shadow 0.4s;
  }

.btn.custom-btn-mainmenu:hover, .btn.custom-btn-mainmenu:active, .btn.custom-btn-mainmenu:active:focus {
    background-color: #111111;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 18px 50px 0  rgba(0,0,0,0.19);
  }



  .btn.custom-btn-mainmenu-admin {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #111111;
    color: #ffdc00;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: background-color 0.4s, box-shadow 0.4s;
  }

.btn.custom-btn-mainmenu-admin:hover, .btn.custom-btn-mainmenu-admin:active, .btn.custom-btn-mainmenu-admin:active:focus {
    background-color: #ffdc00;
    color: #111111;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 18px 50px 0  rgba(0,0,0,0.19);
  }

  .btn.tablebtn-yellow {
    width: 150px;
    height: 100%;
    border: none;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.4s,;
  }


  .btn.tablebtn-yellow:hover, .btn.tablebtn-yellow:active, .tablebtn-yellow:active:focus {
    background-color: #111111;
  }

  .btn.submit-yellow {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 18px 50px 0  rgba(0,0,0,0.19);
    transition: background-color 0.4s,;
  }


  .btn.submit-yellow:hover, .btn.submit-yellow:active, .btn.submit-yellow:active:focus {
    background-color: #111111;
  }


  .btn.increment-decrement-btn-yellow {
    border: none;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.4s,;
  }


  .btn.increment-decrement-btn-yellow:hover, .btn.increment-decrement-btn-yellow:active, .increment-decrement-btn-yellow:active:focus {
    background-color: #111111;
    color: white;
  }



#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}

#loader {
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    font-size: 84px;
    margin-bottom: 24px;
  }

  .tableicon {
    font-size: 48px;

  }
  .backicon {
    font-size: 24px;

  }

  .full-screen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0 !important;
  }


  .form-switch.custom-switch .form-check-input{
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
  }


  .form-switch.custom-switch .form-check-input:checked {
      background-color: #ffdc00; 
      border-color: #ffdc00;
  }


