.navbar-brand {
  font-family: "Baumans", serif;
  font-size: 36px;
  padding: 20px;
}

.btn.custom-btn-yellow {
    background-color: #ffdc00; /* Replace with your desired shade of yellow */
    color: #ffffff; /* Text color, you can adjust as needed */

  }

.btn.custom-btn-yellow-outline {
    border: 2px solid #ffdc00;
    color: #ffdc00;
    transition: background-color 0.3s;
  }

.btn.custom-btn-yellow-outline:hover {
    background-color: #ffdc00;
    border: 2px solid #ffdc00;
    color: #111111;
    
  }

.btn.custom-btn-mainmenu {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffdc00;
    color: #111111;
    font-family: "Baumans", serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 36px;
    transition: background-color 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.btn.custom-btn-mainmenu:hover {
    background-color: #111111;
  }

  .icon {
    font-size: 84px;
    margin-bottom: 24px;
  }